.outerDiv {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 1.1em;
    line-height: 1.6;
    font-weight: 300;
}

.tableText {
    font-weight: 300;
    margin-top: 20px;
}

.tableNumber {
    margin-right: 45px;
    margin-left: -45px;
    margin-top: 20px;
    font-size: 120%;
}

.date {
    text-align: center;
    color: var(--text-lightest);
    font-weight: 300;
}

.footer {
    align-content: center;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 8em;
}

h1 {
    color: var(--text-dark);
    font-size: 180%;
    font-weight: 500;
    margin-bottom: 1.35em;
}

h2 {
    color: var(--text-mid);
    font-size: 130%;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: 500;
}

h3 {
    color: var(--text-light);
    font-size: 100%;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: 500;
}

body {
    background-color: var(--background);
}

div {
    background-color: var(--background);
    color: var(--text-mid);
}

:root {
    --text-dark: rgb(40, 40, 40);
    --text-mid: rgb(55, 55, 55);
    --text-light: rgb(70, 70, 70);
    --text-lightest: rgb(100, 100, 100);
    --background: rgb(255, 255, 255);
}