.mainContainer {
    display: none;
}

.normalButton:hover {
    background-color: var(--green-dark);
}

.normalButton {
    border: none;
    border-radius: 8px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    background-color: var(--green-mid);
    color: rgb(240, 240, 240);
    height: 45px;
}

.listButton {
    width: 300px;
}

.textInput {
    width: 100%;
    border: solid 1px var(--green-light);
    border-radius: 8px;
    cursor: text;
    float: inherit;
    font-family: inherit;
    font-size: 0.95em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .08em;
    line-height: 1.7em;
    background-color: rgb(255, 255, 255);
    color: var(--black--text);
    text-align: center;
    height: 45px;
}

::placeholder {
    color: var(--green-mid);
}

:-ms-input-placeholder {
    color: var(--green-mid);
}

::-ms-input-placeholder {
    color: var(--green-mid);
}

div {
    font-family: Rubik;
    color: var(--black--text);
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 255, 255);
    color: var(--black--text);
}

:root {
    --green-dark: #43643c;
    --green-mid: #507748;
    --green-light: #c7e2c0;
    --black--text: #18252a;
}
