.mainContainer {
    margin-top: 7%;
    display: none;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.normalButton:hover {
    background-color: var(--green-dark);
}

.normalButton {
    border: none;
    border-radius: 8px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    background-color: var(--green-mid);
    color: rgb(240, 240, 240);
    height: 45px;
}

.listButton {
    width: 300px;
}

.toolButton {
    border: none;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin: 0 0 0 .5em;
    background-color: transparent;
    color: var(--white-lighter-text);
    height: 40px;
}

    .toolButton:hover {
        color: var(--white-lightest-text);
        font-size: 0.75em;
        margin: 0 0 0 .40em;
    }

.editButton {
    border: none;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin: 0 0 0 .5em;
    background-color: transparent;
    color: var(--white-lighter-text);
    height: 40px;
}

    .editButton:hover {
        color: var(--white-lightest-text);
        font-size: 0.75em;
        margin: 0 0 0 .40em;
    }

.plusButton {
    border: none;
    border-radius: 42px;
    font-family: 'Quicksand';
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin: 0 0 0 .5em;
    background-color: transparent;
    color: var(--white-lighter-text);
    height: 40px;
}

    .plusButton:hover {
        color: var(--white-lightest-text);
        font-size: 2.7em;
        margin: -0.04em 0 0 .45em;
    }

.textAreaEdit {
    background-color: transparent;
    border: dashed 0px rgb(30, 30, 30);
    border-radius: 10px;
    text-align: center;
    color: var(--white-light-text);
    font-size: 1.2em;
    font-family: Quicksand;
    font-weight: 900;
    resize: none;
}

.textAreaView {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: var(--white-light-text);
    font-size: 1.2em;
    font-family: Quicksand;
    font-weight: 900;
    resize: none;
}

.modal {
    display: none;
    position: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    padding-top: 100px;
    left: 50%;
    top: 0;
    height: 100%;
    overflow: auto;
    transform: translate(-50%);
}

.qrCode {
    border-radius: 10px;
    border: 7px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    max-height: inherit;
    animation: qrCode 1s ease normal;
}

.qrCodeBorder {
    border-radius: 20px;
    padding: 40px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.editToolPanel {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.editViewArea {
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;
    border: 1px dashed var(--black--text);
    border-radius: 25px;
}

.textInput {
    width: 100%;
    border: solid 1px var(--green-light);
    border-radius: 8px;
    cursor: text;
    float: inherit;
    font-family: inherit;
    font-size: 0.95em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: .08em;
    line-height: 1.7em;
    background-color: rgb(255, 255, 255);
    color: var(--black--text);
    text-align: center;
    height: 45px;
}

.select-css {
    display: block;
    font-size: 0.7em;
    font-family: inherit;
    font-weight: 300;
    color: var(--white-lighter-text);
    line-height: 1.1;
    padding: .3em 0.8em .3em .4em;
    border: 0px solid #aaa;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

    .select-css::-ms-expand {
        display: none;
    }

    .select-css:hover {
        border-color: #888;
        font-size: 0.75em;
        color: var(--white-lightest-text);
    }

    .select-css option {
        font-weight: 300;
        font-family: inherit;
        background-color: rgba(59, 39, 71, .85);
    }

::placeholder {
    color: var(--green-mid);
}

:-ms-input-placeholder {
    color: var(--green-mid);
}

::-ms-input-placeholder {
    color: var(--green-mid);
}

td {
    padding-right: 10px;
    padding-left: 5px;
    font-weight: inherit;
    font-size: inherit;
}

div {
    font-size: 1.2em;
    font-family: Quicksand;
    font-weight: 900;
    color: inherit;
    background-color: inherit;
}

body {
    background: linear-gradient(217deg, rgba(59, 39, 71,.8), rgba(59, 39, 71,.8) 70.71%), linear-gradient(127deg, rgba(42, 31, 74,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(60, 40, 89,.8), rgba(0,0,255,0) 70.71%);
    color: var(--white-light-text);
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    --green-dark: #43643c;
    --green-mid: #507748;
    --green-light: #c7e2c0;
    --black--text: #18252a;
    --white-lightest-text: rgb(240, 240, 240);
    --white-lighter-text: rgb(230, 230, 230);
    --white-light-text: rgb(220, 220, 220);
    --white-dark-text: rgb(180, 180, 180);
    --white-darker-text: rgb(160, 160, 160);
}

@keyframes qrCode {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@-webkit-keyframes qrCode {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@-moz-keyframes qrCode {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}